:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30rem;
}

.menu,
.user {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #21262E;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon-menu {
    font-size: 14px;

    &::before {
      color: rgba(255, 255, 255, 0.18);
    }
  }
}
