<div class="product">
    <div class="product__image">
        <img src="assets/img/beans3.png" alt="3" class="product__background-image">
    </div>
    <div class="product__container">
        <div class="product__buttons">
            <div class="button-left">
                <span class="icon-chevron-left left" (click)="goBack()"></span>
            </div>
            <a routerLink="/heart" class="button-heart">
                <span class="header__icon icon-heart heart"></span>
              </a>
        </div>
    </div>
    <!-- <div class="product__footer">
        <div class="product__description">
            <div class="product__description-main">
                <div class="product__description-name">Robusta Beans</div>
                <div class="product__description-desc">From Africa</div>
            </div>
            <div class="product__description-icons">
                <div class="product__description-icons-bean-icon">
                    <span class="header__coffee icon-coffee"></span>
                    <p class="product__description-icons-desc">Bean</p>
                </div>
                <div class="product__description-icons-location-icon">
                    <span class="header__coffee icon-location"></span>
                    <p class="product__description-icons-desc">Africa</p>
                </div>
            </div>
        </div>
        <div class="product__mark">
            <div class="product__mark-info">
                <span class="header-link__icon product-icon-star"></span>
                <p class="product__mark-text">4.5</p>
                <span class="product__mark-ending">(6,879)</span>   
            </div>
            <div class="product__mark-icon">Medium Roasted</div>
        </div>
    </div>-->
    <div class="title">Description</div>
    <div class="description">Arabica beans are by far the most popular type of coffee beans, making up about 60% of the world’s coffee. These tasty beans originated many centuries ago in the highlands of Ethiopia, and may even be the first coffee beans ever consumed! </div>
    <div class="title-size">Size</div>
    <div class="sizes">
       <a href="/" class="sizes__main">250gm</a>
       <a href="/" class="sizes__main">500gm</a>
       <a href="/" class="sizes__main">1000gm</a>
    </div>
</div>
<div class="product__price">
    <div class="product__price-info">
        <div class="product__price-text">Price</div>
        <p class="product__price-main">
            <span class="dollar">$ </span>10.50
        </p>
    </div>
    <button class="product__price-button">Add to Cart</button>
</div>


